.dash-greeting {
  margin: 20px;
  text-align: center;
}

.dash-container {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.dash-basic-info {
  border: 2px solid red;
}

.dash-user-post {
  border: 2px solid purple;
}