.dash-greeting {
  margin: 20px;
  text-align: center;
}

.dash-container {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.dash-mant-container {
<<<<<<< HEAD

=======
>>>>>>> 9f2566c82d08ce537f764111535ae1a9721e1c10
  margin-top: 20px;
}

.dash-user-post {
  border: 2px solid rgb(93, 92, 92);
}