.image-gallery {
  width: 700px;
  height: 600px;
  margin-bottom: 100px;
}

.image-gallery-slide img {
  width: 100%;
  height: 600px;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
  height: auto;
  width: 100%;
}

.image-gallery-thumbnail {
  width: 120px
}

.image-gallery-thumbnail img {
  width: auto;
  height: 75px;
}

.type-of-transcation {
  text-align: center;
}

.listing-details {
  display: block;
}